name: PR opened

on:
  pull_request:
    types: [opened]

jobs:
  label-fern-prs:
    runs-on: ubuntu-latest
    if: github.actor == 'fern-api[bot]'
    steps:
      - name: Add label
        uses: actions/github-script@v7
        with:
          script: |
            await github.rest.issues.addLabels({
              owner: context.repo.owner,
              repo: context.repo.repo,
              issue_number: context.issue.number,
              labels: ['sdk-automerge']
            })
